<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"/>
        <link href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet"/>
        <script src="https://kit.fontawesome.com/77b2fa8649.js" crossorigin="anonymous"></script>
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css"/>
        <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="css/contentStyle.css"/>

        <title>Content</title>
    </head>
    <body>
        <body>  
            <div class="page-wrapper chiller-theme">
                <a id="show-sidebar" class="btn btn-sm btn-dark"> 
                    <i class="fas fa-bars fa-2x" style="color: whitesmoke;"></i>
                </a>
                <nav id="sidebar" class="sidebar-wrapper">
                    <div class="sidebar-content">
                        <div class="sidebar-brand">
                            <a th:href="@{home}" style="max-width: auto;">Blog</a>
                            <div id="close-sidebar" >
                                <i class="fas fa-times fa-md"></i>
                            </div>
                        </div>
                        <div sec:authorize="isAuthenticated()">

                            <div class="sidebar-header">
                                <div class="user-pic">
                                    <img th:src="${'profileImages/profile' + #authentication.name + '.jpg'}" alt="Image not found" onerror="this.onerror=null;this.src='profileImages/user.jpg';" />
                                </div>
                                <div class="user-info">
                                    <span class="user-name">
                                        <strong th:text="${#authentication.name}"></strong>
                                    </span>
                                    <div sec:authorize="hasRole('ROLE_ADMIN')">
                                        <span class="user-role">Administrator</span>
                                    </div>
                                    <div sec:authorize="!hasRole('ROLE_ADMIN')">
                                        <span class="user-role">Contributor</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- sidebar-header  -->
                        <div class="sidebar-menu">
                            <ul>
                                <li class="header-menu">
                                </li>
                                <li>
                                    <a th:href="@{home}">
                                        <i class="fas fa-home"></i>
                                        <span>Home</span>
                                    </a>
                                </li>
                                <li class="sidebar-dropdown">
                                    <a>
                                        <i class="fas fa-list-alt"></i>
                                        <span>Blog Posts</span>
                                    </a>
                                    <div class="sidebar-submenu">
                                        <ul>
                                            <li>
                                                <a th:href="@{content}"><i class="far fa-sticky-note"></i>View All Blog Posts</a>
                                            </li>
                                            <div sec:authorize="isAuthenticated()">
                                                <li>
                                                    <a th:href="@{userContent}"><i class="fab fa-readme"></i>View My Blog Posts</a>
                                                </li>
                                                <li>
                                                    <a th:href="@{create}"><i class="fas fa-plus"></i>Create New Post</a>
                                                </li>
                                            </div>
                                        </ul>
                                    </div>
                                </li>
                                <div sec:authorize="hasRole('ROLE_ADMIN')">
                                    <li class="header-menu">
                                        <span>Manage (Admin)</span>
                                    </li>
                                    <li>
                                        <a th:href="@{admin}">
                                            <i class="fas fa-users-cog"></i>
                                            <span>Users</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a th:href="@{hashTags}">
                                            <i class="fas fa-hashtag"></i>
                                            <span>HashTags</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a th:href="@{category}">
                                            <i class="fas fa-archive"></i>
                                            <span>Categories</span>
                                        </a>
                                    </li>
                                    <li>
                                        <a th:href="@{approvePosts}">
                                            <i class="fas fa-tasks"></i>
                                            <span>Blog Post Approval</span>
                                            <span class="badge badge-pill badge-warning notification" th:text='${amountToApprove}' th:if='${amountToApprove != 0}'></span>
                                        </a>
                                    </li>
                                    <li>
                                        <a th:href="@{managePosts}">
                                            <i class="fas fa-tools"></i>
                                            <span>Manage All Posts</span>
                                        </a>
                                    </li>
                                </div>
                            </ul>
                        </div>
                        <!-- sidebar-menu  -->
                    </div>
                    <!-- sidebar-content  -->
                    <div sec:authorize="isAuthenticated()">
                        <form class="form-inline" action="/logout" method="POST" >
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                            <div class="sidebar-footer" style="margin-bottom: 20px;">
                                <button class="btn btn-link" id="submit" type="submit">
                                    <i class="fas fa-sign-out-alt"></i>
                                    &nbsp;&nbsp;Log Out&nbsp;</button>
                            </div>
                        </form>
                    </div>
                    <div sec:authorize="!isAuthenticated()">
                        <div class="sidebar-footer" style="margin-bottom: 20px;">
                            <a th:href="@{login}">
                                <i class="fas fa-sign-in-alt"></i>
                                &nbsp;&nbsp;Log In&nbsp;
                            </a>
                        </div>
                    </div>
                </nav>
                <!-- sidebar-wrapper  -->
                <main class="page-content">
                    <form action="contentSearch" method="POST">
                        <div style="margin-bottom: 0px;" class="container h-100">
                            <div class="d-flex justify-content-end h-100">
                                <div class="searchbar">
                                    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
                                    <input class="search_input" type="text" name="searchTerm" placeholder="Search..."/>
                                    <button type='submit' class="search_icon"><i class="fas fa-search"></i></button>
                                </div>
                            </div>
                        </div>
                    </form>

                    <h1 style='margin-left: 80px; margin-bottom: 0px; padding-bottom: 0px;'>All Blog Posts</h1>

                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-6 col-12" th:each="blogPost : ${publishedblogPostList}" th:if='${!publishedblogPostList.isEmpty()}'>
                                <div class="jumbotron">

                                    <strong th:each="cat : ${blogPost.categories}" th:text='${cat.categoryName + " "}'></strong>
                                    <h2 id='blogTitle' th:text='${blogPost.blogTitle}'></h2>
                                    <span th:if='${blogPost.featuredImagePath != null}'>
                                        <img class='blogPostImg' th:src="@{${blogPost.featuredImagePath}}" />
                                    </span>
                                    <span th:unless='${blogPost.featuredImagePath != null}'>
                                        <img class='blogPostImg' th:src="@{blogCoverImages/default.jpg}" />
                                    </span>
                                    <p>Written: <strong th:text='${blogPost.postDate}'></strong></p>
                                    <p>by: <strong th:text='${blogPost.user.username}'></strong></p>
                                    <p><strong th:each="hashTag : ${blogPost.hashTags}" th:text='${"#" +hashTag.hashTagName + " "}'></strong></p>
                                    <p th:text="${#strings.abbreviate(blogPost.blogPreview, 253)}"></p>

                                    <p><a class="btn btn-primary btn-large" th:href="@{/post(id=${blogPost.blogId})}">See Post</a></p>
                                </div>

                            </div>
                        </div>
                        <h2 class='d-flex justify-content-center' th:unless='${!publishedblogPostList.isEmpty()}'>No Results</h2>
                    </div>

                </main>
                <!-- page-content" -->
            </div>







            <!-- Optional JavaScript -->
            <!-- jQuery first, then Popper.js, then Bootstrap JS -->
            <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
            <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
            crossorigin="anonymous"></script>
            <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
            crossorigin="anonymous"></script>
            <script>
                jQuery(function ($) {

                    $(".sidebar-dropdown > a").click(function () {
                        $(".sidebar-submenu").slideUp(200);
                        if (
                                $(this)
                                .parent()
                                .hasClass("active")
                                ) {
                            $(".sidebar-dropdown").removeClass("active");
                            $(this)
                                    .parent()
                                    .removeClass("active");
                        } else {
                            $(".sidebar-dropdown").removeClass("active");
                            $(this)
                                    .next(".sidebar-submenu")
                                    .slideDown(200);
                            $(this)
                                    .parent()
                                    .addClass("active");
                        }
                    });

                    $("#close-sidebar").click(function () {
                        $(".page-wrapper").removeClass("toggled");
                    });
                    $("#show-sidebar").click(function () {
                        $(".page-wrapper").addClass("toggled");
                    });

                });
            </script>
        </body>
</html>